.card {
    width: 280px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  label {
    width: max-content;
    color: lightcoral;
    font-size: 13px;
    border-bottom: 0.5px;
    margin: 3px 0;
  }
  
  .desc {
    font-size: 14px;
  }
  
  .star {
    color: gold;
  }
  
  .username {
    font-size: 14px;
  }
  
  .date {
    font-size: 12px;
  }
  form {
    width: 260px;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: lightcoral;;
  cursor: pointer;
}
  
.imagen{
  display: flex;
justify-content: center;
}

.rating-select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  display:flex;
text-align: center;
	width: 100%;
	cursor: pointer;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;

}


.content-select{
display: flex;
}


 
.content-select:hover i{
	margin-top: 3px;
}


.imgButton{
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  display:flex;

}

.fileinput{
  margin-left: 50px;
}


.file-select{
  margin-left: 50px;
}
.preview{
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 5px;
}


.custom-file-upload {
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.file-select {
  position: relative;
  display: inline-block;
}


input[type="file"] {
  color: transparent;
  
}