.settings {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
margin-top: 50px;
  }
  

  .settingsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }
  
  .settingsUpdateTitle {
    display: flex;
    font-size: 30px;
    margin-bottom: 0px;
    color: lightcoral;
  }
  
  .settingsDeleteTitle {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }
  
  .settingsForm {
    display: flex;
    flex-direction: column;
    
  
  }
  
  .settingsPP {
    display: flex;
    margin: 0px 0;
    align-items: center;
    justify-content: center;
  }
  
  .settingsPP > img {
    width: 120px;
    height: 1200px;

  }
  
  .settingsPPIcon {
   font-size: 1300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  
  .settingsSubmit{
      width: 150px;
      align-self: center;
      border: none;
      border-radius: 10px;
      color: white;
      background-color: teal;
      padding: 10px;
      cursor: pointer;
  }

  .settingsDeleteTitle{
    position: relative;
    left:500px;
    background-color: coral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }