.howworks {
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://as1.ftcdn.net/v2/jpg/02/38/19/42/1000_F_238194225_xqhHb7yi8lTPA830SMMSq0nPIhhdN8qB.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  }

  .textTitle {
    margin-top: 0;
    font-size: 50px;
    text-align: center;  
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 50px;
    color:#444;
 
  }
  
  .content{
    background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
display: flex;
align-items: center;
justify-content: center;
width: 850px;
height: 400px;
border-radius: 5px;

   
  }


ul{
    list-style: none;
}

li{
    margin-top: 25px;
    font-family: "Capriola", sans-serif;
}

.textContent{
position: relative;
left:-50px;
}