.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://image.shutterstock.com/image-vector/seamless-pattern-people-buying-selling-600w-1254258403.jpg");
    background-size: cover;
  }
  
  .registerTitle {
    margin-top: 0;
    font-size: 50px;
    text-align: center;  
    font-family: 'Poppins', sans-serif;
    font-weight: 600;}
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      rgba(235, 232, 232, 0.2),
      rgba(235, 232, 232, 0.2)
    ),
  }
  
  .registerForm > label {
    margin: 10px 0;
    font-size: 15px;
    color: teal;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
 
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  


  .success{
    margin-top: 12px;
    color: green;
    font-size: 12;
    font-weight: 600;
    text-align: center;
  }

  .failure{
    margin-top: 12px;
    color: red;
    font-size: 12;
    font-weight: 600;
    text-align: center;
  }